body{
    padding: 0;
    margin: 0;
}
.MXC_components-timeline {
    margin-bottom: 10px;
    color: #333;
    text-align: center;
    position: relative;
}
.MXC_timeline_inset {
    background-color: #fff;
}
.MXC_timeline {
    overflow: hidden;
    border-bottom: 1px solid #fc3f43;
}
.MXC_timeline ul {
    font-size: 0;
    white-space: nowrap;
    height: 36px;
    padding: 0;
    margin: 0;
    float: left;
    list-style: none;
}
.MXC_timeline ul li {
    display: inline-block;
    width: 75px;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
}
.timeaxis-item-inner {
    display: block;
    width: 100%;
    height: 100%;
    color: #333;
    font-size: 10px;
}
.ac {
    display: inline-block;
    background: #fc3f43;
}
.ac .timeaxis-item-inner {
    font-size: 10px;
    color: #fff;
}
.timeaxis-time{
    line-height: 14px;
}
.timeaxis-info{
    line-height: 12px;
}
.MXC_waterfall{
    padding: 0 10px;
    margin: 0 auto;
    overflow: visible;
}
.MXC_waterfall_box {
    padding: 0;
    margin: 0;
    overflow: visible;
}
.MXC_waterfall_box li {
    width: 50%;
    float: left;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
}
.MXC_waterfall_box li:nth-child(odd) {
    padding-right: 10px;
    padding-top: 10px;
    border-right: 1px solid #e0e0e0;
    border-bottom: 2px solid #e0e0e0;
}
.MXC_waterfall_box li:nth-child(odd) .cartBtn{
    right: 10px;
}
.MXC_waterfall_box li:nth-child(even) {
    padding-left: 10px;
    padding-top: 10px;
    border-left: 1px solid #e0e0e0;
    border-bottom: 2px solid #e0e0e0;
}
/*.MXC_waterfall_box li img{*/
    /*display: block;*/
    /*width: 100%;*/
/*}*/
.item_title {
    display: block;
    color: #3b3b3b;
    line-height: 18px;
    font-size:14px;
    margin-top: 10px;
    text-decoration: none;
    -webkit-touch-callout: none;
}   

.item_pic {
    display: block;
    width: 100%;
    position: relative;
    overflow: visible;
    text-decoration: none;
    -webkit-touch-callout: none;
}
.item_pic img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.item_pic:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}
.price {
    position: relative;
    margin-top: 15px;
    font-size: 10px;
    margin-bottom: 10px;
}
.price_now {
    margin-right: 2px;
    font-size: 14px;
    color: #ff3c3c;
    margin-right: 5px;
}
.price_seckill {
    display: block;
    color: #ff3c3c;
    margin-bottom: 3px;
}
.price_grab{
    position: absolute;
    bottom: 0;
    right: 0;
}
.start .cartBtn{
    position: absolute;
    width: 23px;
    height: 23px;
    bottom: 30px;
    right: 0;
    z-index: 2000;
    background: url("http://d9.yihaodianimg.com/N08/M02/6D/8D/ChEi1VZihHyAEogfAAAHPl3-Dlg43700.png")  no-repeat;
    background-size: cover;
}
.start .bg_qiang{
    display: none;
     position: absolute;
     width: 23px;
     height: 23px;
     bottom: 30px;
     right: 0;
     z-index: 2000;
 }
.not_start .cartBtn {
    position: absolute;
    width: 23px;
    height: 23px;
    bottom: 30px;
    right: 0;
    z-index: 2000;
    background: url("http://d9.yihaodianimg.com/N08/M05/6D/8D/ChEi1FZihIuAXh1jAAAHMOVlOB438100.png")  no-repeat;
    background-size: cover;
}
.not_start .bg_qiang{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.finished .cartBtn {
    position: absolute;
    width: 23px;
    height: 23px;
    bottom: 30px;
    right: 0;
    z-index: 2000;
    background: url("http://d9.yihaodianimg.com/N08/M05/6D/8D/ChEi1FZihIuAXh1jAAAHMOVlOB438100.png")  no-repeat;
    background-size: cover;
}
.finished .bg_qiang{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("http://d9.yihaodianimg.com/N08/M0A/6D/8D/ChEi1VZihFiAEjg-AAA8Jd1-wqs11200.png")  no-repeat;
    background-size: cover;
}
.price_amount{
    color: #ff3c3c;
}

.bg_lefttop_count{
    position: absolute;
    top: 0;
    text-indent: 4px;
    left: -4px;
    height: 15px;
    width: 55px;
    line-height: 15px;
    font-size: 10px;
    background: #fc3e31;
    color: #fff;
    border-radius: 0 10px 10px 0/0 7.5px 7.5px 0;
}
.bg_lefttop_count:after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 2px solid;
    border-color: #c02c21 #c02c21 #ffffff #ffffff;
}
.MXC_clear:after{
    content: '.';
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}
.animate {
    -webkit-transition:all ease .3s;
    -ms-transition:all ease .3s;
    -o-transition:all ease .3s;
    -moz-transition:all ease .3s;
    transition:all ease .3s;
}